/* Universal Styles */
html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    box-sizing: border-box;
}

h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0.5rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.9rem;
}

p,
figcaption {
    font-size: 1.3rem;
}

a:visited {
    color: seashell;
}

/* for the fixed header */
.space {
    height: 69px;
}

/* Main Navigation Bar */
header {
    height: 69px;
    width: 100%;
    padding: 0 10px;
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid seashell;
}

header img {
    height: 50px;
    width: auto;
}

header nav {
    width: 85%;
    display: flex;
    justify-content: flex-end;
}

header nav li {
    display: inline;
    margin-left: 20px;
    color: white;
}


/* Main Section */

/* Mission Section */
section.mission {
    background-color: blue;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-image: url("../images/img-mission-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.mission-banner {
    background-color: black;
    width: 100%;
}

/* Featured Teas Section */

/* Locations Section */

/* Footer */