/* Universal Styles */
html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    box-sizing: border-box;
}

h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0.5rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.9rem;
}

p,
figcaption {
    font-size: 1rem;
}

a:visited {
    color: seashell;
}

figure {
    margin: 0.5rem;
}

/* for the fixed header */
.space {
    height: 69px;
}

/* Main Navigation Bar */
header {
    height: 69px;
    width: 100%;
    padding: 0 10px;
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid seashell;
}

header img {
    height: 50px;
    width: auto;
}

header nav {
    width: 85%;
    display: flex;
    justify-content: flex-end;
}

header nav li {
    display: inline;
    margin-left: 20px;
    color: white;
}


/* Main Section */
main {
    width: 1200px;    
    margin: 0 auto;
}

/* Mission Section */
section.mission {
    background-color: blue;
    height: 700px;
    background-image: url("../images/img-mission-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.mission-banner {
    background-color: black;
    width: 100%;
}

/* Featured Teas Section */
section.featured-teas {
    width: 1000px;
    margin: 0 auto;
}

.type-of-teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.featured-teas .tea {
    margin: 0;
    width: 300px;
}
.featured-teas img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Locations Section */
section.locations {
    background-image: url("../images/img-locations-background.jpeg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.locations h2 {
    padding: 75px 0 15px 0;
}

.location-list {
    display: flex;
    justify-content: space-around;
}

.location-list .location {
    background-color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 1;
}

/* Footer */
footer .contact-banner {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.copyright {
    text-align: left;
    margin: 20px;
}